#main-content {
    min-height: calc(100vh - 65px);
    background-image: url('/images/section-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}