#til-container{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
}

.til-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.til-title{
    height: 50px;
    text-align: left;
    font-size: 20px;
}

.til-date {
    text-align: right;
}

/* for tilDetail */
#til-title-input, #til-content-input  {
    width: 100%;
}

#til-content-input {
    min-height: 200px;
}
/* for tilDetail */